<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <module category="Energiemanagement" context="kostalmodbus14180" id="14180" name="kostalmodbus" sinternal_name="kostalmodbus" external_name="Kostal-Modbus-Reader (14180)" version="0.3">
            <inputs>
                <input type="number" const_name="switch" init_value="0">Switch on (1) / off (0)</input>
                <input type="number" const_name="fetch_interval" init_value="5">Seconds of the interval to read power values (default: 5 secs)</input>
                <input type="string" const_name="inverter_ip" init_value="127.0.0.1">IP of inverter</input>
                <input type="number" const_name="port" init_value="1502">Modbus TCP Port (Kostal default: 1502)</input>
                <input type="number" const_name="unit-id" init_value="71">Modbus unit id (Kostal default: 71)</input>
            </inputs>
            <outputs>
                <output type="number" const_name="battery_SOC" init_value="0">Battery SOC in % (sbc)</output>
                <output type="number" const_name="home_consumption_battery" init_value="0.0">Own consumption from battery in W (sbc)</output>
                <output type="number" const_name="home_consumption_grid" init_value="0.0">Own consumption from grid in W (sbc)</output>
                <output type="number" const_name="home_consumption_pv" init_value="0.0">Own consumption from PV in W (sbc)</output>
                <output type="number" const_name="home_consumption_total" init_value="0.0">Total current own consumption in W (sbc)</output>
                <output type="number" const_name="total_power_from_grid" init_value="0.0">Total power from grid (neg: feed-in) (sbc)</output>
                <output type="number" const_name="total_power_from_pv" init_value="0.0">Total power from PV generator (sbc)</output>
                <output type="number" const_name="inverter_power" init_value="0.0">Power of inverter (AC/DC conversion) in W (sbc)</output>
                <output type="number" const_name="power_from_battery" init_value="0.0">Power from battery in W (neg: loading) (sbc)</output>
                <output type="number" const_name="total_yield" init_value="0.0">Total yield in kWh (sbc)</output>
                <output type="number" const_name="daily_yield" init_value="0.0">Daily yield in kWh (sbc)</output>
                <output type="number" const_name="monthly_yield" init_value="0.0">Monthly yield in kWh (sbc)</output>
                <output type="number" const_name="yearly_yield" init_value="0.0">Yearly yield in kWh (sbc)</output>
            </outputs>
            <remanent_variables>
            </remanent_variables>
            <imports>
                <import>hsl20_3_timer</import>
                <import>lib/pymodbus</import>
            </imports>
        </module>
    </modules>
    <logging type="None" ip="" port="" />
</config>
